@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --theme-clr: #fc7600;
  --gray-txt-clr: #616161;
  --bg-grey: #eae7ee;
  --light-grey-txt: #c1c7c9;
  --dark-grey-txt: #707c80;
  --bg-danger: #ffe9e9;
  --clr-danger: #f33066;
  --bg-success: #cff7e4;
  --clr-success: #10d876;
  --bg-warning: #ffead6;
  --clr-warning: #fe9431;
  --bg-primary: #d2e3ff;
  --clr-primary: #1e74fd;
  --primary-font: "Poppins", sans-serif;
  font-size: 15px;
}

body[theme="light"] {
  --bg-clr: #ebf5fc;
  --sec-bg-clr: #fff;
  --ter-bg-clr: #f0f0f0;
  --txt-clr: #222831;
  --inverse-txt-clr: #ebf5fc;
  --inverse-grey-txt: #c1c7c9;
}

body[theme="dark"] {
  --bg-clr: #111318;
  --sec-bg-clr: #1d2129;
  --ter-bg-clr: #3a3d48;
  --txt-clr: #ebf5fc;
  --inverse-txt-clr: #222831;
  --inverse-grey-txt: #707c80;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--primary-font);
}

html,
body {
  font-size: 15px;
  color: var(--txt-clr);
  background-color: var(--bg-clr);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: var(--txt-clr);
}

a {
  color: var(--theme-clr);
}

a:hover, a:focus {
  color: var(--theme-clr);
}

::-moz-selection {
  background-color: var(--theme-clr);
  color: #fff;
}

::selection {
  background-color: var(--theme-clr);
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-clr);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--sec-bg-clr);
  border-radius: 5px;
}

.textTheme {
  color: var(--theme-clr);
}

.textDarkGrey {
  color: var(--dark-grey-txt);
}

.font-xs {
  font-size: 0.7rem;
}

.font-sm {
  font-size: 0.8rem;
}

.font-md {
  font-size: 0.9rem;
}

.font-rg {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.1rem;
}

.font-xl {
  font-size: 1.2rem;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.bgGrey {
  background-color: var(--bg-grey);
}

.gradient {
  background: #ff6501;
  background: -webkit-gradient(linear, left top, right top, from(#ff6501), color-stop(35%, #fe7a01), to(#ffc001));
  background: linear-gradient(90deg, #ff6501 0%, #fe7a01 35%, #ffc001 100%);
}

.success {
  background-color: var(--bg-success);
  color: var(--clr-success);
}

.danger {
  background-color: var(--bg-danger);
  color: var(--clr-danger);
}

.primary {
  background-color: var(--bg-primary);
  color: var(--clr-primary);
}

.warning {
  background-color: var(--bg-warning);
  color: var(--clr-warning);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.btnWhite {
  background-color: #fff;
}

.sectionTitle {
  font-size: 1.1rem;
  font-weight: 600;
}

.grid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.grid3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.inputGroup {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.inputGroup input {
  background-color: inherit;
  color: var(--txt-clr);
  font-size: 1em;
  padding: 10px 10px;
  border: none;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  width: 100%;
  outline: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.inputGroup input::-webkit-input-placeholder {
  opacity: 0;
}

.inputGroup input:-ms-input-placeholder {
  opacity: 0;
}

.inputGroup input::-ms-input-placeholder {
  opacity: 0;
}

.inputGroup input::placeholder {
  opacity: 0;
}

.inputGroup input:focus, .inputGroup input:not(:placeholder-shown) {
  border-color: var(--theme-clr);
}

.inputGroup input:focus ~ label, .inputGroup input:not(:placeholder-shown) ~ label {
  -webkit-transform: translate(10px, -33px) scale(0.9);
          transform: translate(10px, -33px) scale(0.9);
  color: var(--theme-clr);
  padding: 0 5px;
  font-weight: 500;
}

.inputGroup label {
  position: absolute;
  padding: 0 20px;
  margin-bottom: 2px;
  color: darkgray;
  background-color: #fff;
  -webkit-transform: translate(4px, -11px) scale(1.02);
          transform: translate(4px, -11px) scale(1.02);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.inputGroup select {
  border-bottom: 2px solid #000;
  padding: 10px 10px;
  width: 100%;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  color: darkgray;
  outline: none;
  cursor: pointer;
}

.inputGroup button {
  padding: 10px 30px;
  background-color: var(--theme-clr);
  border: 2px solid var(--theme-clr);
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.9rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  color: #fff;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.inputGroup.textarea input {
  height: 200px;
}

.inputGroup.textarea input:focus ~ label, .inputGroup.textarea input:not(:placeholder-shown) ~ label {
  -webkit-transform: translate(10px, -183px) scale(0.9);
          transform: translate(10px, -183px) scale(0.9);
}

.inputGroup.textarea label {
  -webkit-transform: translate(4px, -150px) scale(1.02);
          transform: translate(4px, -150px) scale(1.02);
}

.main {
  padding: 0 1rem 1rem;
  background-color: var(--bg-clr);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: var(--bg-clr);
}

nav h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

nav .icon {
  height: 35px;
  width: 35px;
  background-color: var(--sec-bg-clr);
  color: var(--txt-clr);
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 0.8rem;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  height: 8vh;
  width: 100%;
  background-color: var(--sec-bg-clr);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

footer .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer .links .singleLink {
  text-align: center;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

footer .links .singleLink .icon svg {
  height: 20px;
  width: 20px;
}

footer .links .singleLink.active, footer .links .singleLink:hover {
  margin-top: -12px;
}

footer .links .singleLink.active .icon, footer .links .singleLink:hover .icon {
  position: relative;
}

footer .links .singleLink.active .icon svg, footer .links .singleLink:hover .icon svg {
  stroke: var(--theme-clr);
}

footer .links .singleLink.active .icon::after, footer .links .singleLink:hover .icon::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 20px;
  border-radius: 3px;
  text-align: center;
  background-color: var(--theme-clr);
  bottom: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popupGrind {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.popupGrind.show {
  opacity: 1;
  pointer-events: all;
}

.popupGrind .mainPopup {
  position: relative;
  height: 100%;
  width: 100%;
}

.popupGrind .mainPopup .popupContent {
  position: absolute;
  background-color: var(--sec-bg-clr);
  border-radius: 20px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.popupGrind .mainPopup .popupContent.show {
  opacity: 1;
  pointer-events: all;
}

.popupGrind .mainPopup .popupContent.bottomPopup {
  max-height: calc(100vh - 1rem);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow-y: scroll;
}

.popupGrind .mainPopup .popupContent.bottomPopup.show {
  bottom: 0 !important;
}

.popupGrind .mainPopup .popupContent .closePopup {
  cursor: pointer;
}

.popupGrind .mainPopup .popupContent .inputGroup select,
.popupGrind .mainPopup .popupContent .inputGroup label {
  background-color: var(--sec-bg-clr);
}

.secCard {
  background-color: var(--sec-bg-clr);
  border-radius: 7px;
}

@media only screen and (min-width: 600px) {
  body {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  body nav,
  body .main,
  body footer {
    width: 500px;
  }
}

.bookingCard {
  min-height: 100px;
  width: 100%;
  border-radius: 7px;
}

.bookingCard h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.bookingCard p {
  font-size: 0.7rem;
  margin: 0.5rem 0 1rem;
  color: #fff;
}

.bookingCard button {
  color: var(--theme-clr);
  font-size: 0.75rem;
  font-weight: 500;
}

.disclaimer {
  display: none !important;
}
/*# sourceMappingURL=common.css.map */