.bookingCard {
  min-height: 100px;
  width: 100%;
  border-radius: 7px;

  h4 {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
  }

  p {
    font-size: 0.7rem;
    margin: 0.5rem 0 1rem;
    color: #fff;
  }

  button {
    color: var(--theme-clr);
    font-size: 0.75rem;
    font-weight: 500;
  }
}

.bookingsList {
  .singleBooking {
    padding: 24px 16px;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    .bookingHeader {
      display: grid;
      grid-template-columns: 45px auto 20px;
      grid-column-gap: 1rem;

      .vehicleIcon {
        height: 45px;
        width: 45px;
        border-radius: 7px;
        display: grid;
        place-items: center;
      }

      .title {
        h6 {
          color: var(--dark-grey-txt);
          margin-top: 0.5em;
        }
      }

      .nextIcon {
        height: 20px;
        width: 20px;
        background-color: var(--ter-bg-clr);
        border-radius: 50%;
        display: grid;
        place-items: center;
      }
    }

    .bookingBody {
      margin-top: 1em;

      .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 1em;

        .singleItem {
          .title {
            color: var(--dark-grey-txt);
            font-size: 0.7rem;
          }

          .value {
            font-size: 0.9rem;
            margin-top: 0.3em;
          }
        }
      }
    }
  }
}

.inputGroup {
  select,
  label {
    background-color: var(--sec-bg-clr);
  }
}

.trackPopup {
  .popupContent {
    .popupBody {
      .timeline {
        border-left: 2px dotted var(--inverse-grey-txt);

        .singleLine {
          position: relative;
          padding-left: 10px;

          &:not(:first-child) {
            margin-top: 3.5rem;
          }

          .checkmark {
            position: absolute;
            content: "";
            top: 50%;
            left: calc(-1.5rem - 10px);
            height: 20px;
            width: 20px;
            background-color: var(--inverse-grey-txt);
            border-radius: 50%;
            transform: translateY(-50%);
            display: grid;
            place-items: center;

            i {
              color: #fff;
              font-size: 0.5rem;
            }
          }

          &.crossed {
            .checkmark {
              background-color: var(--theme-clr);
            }

            &::after {
              position: absolute;
              content: "";
              top: 50%;
              left: calc(-1.5rem - 15px);
              height: 30px;
              width: 30px;
              background-color: rgba(252, 118, 0, 0.3);
              border-radius: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}
